.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .modal-container {
    position: relative;
    padding: 1rem;
    min-width: 320px;
    max-width: max-content;
    min-height: 50px;
    max-height: max-content;
    height: max-content;
    width: max-content;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 0.75rem;
  }
  
  .modal-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color:"red";
    color:"white";
  }
  
  .modal.is-open {
    display: flex;
  }